@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial,Tahoma,Verdana,sans-serif;
    margin: 0;
    padding: 0;
}

.block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 267px;
    height: 82px;
    background-color: aqua;
}

.circ {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    border: solid #261f0f 16px;
}

.triangle {
    background: #fff;
    position: absolute;
    width: 82px;
    height: 78px;
    clip-path: polygon(100% 86%, 44% 49%, 100% 11%);
    top: -12px;
    left: -12px;
}

.circ__small {
     position: absolute;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     top: 0px;
     right: 0px;
     background: #00adff;
 }

.circle_top {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: rotate(-10deg);
}

.circle_top-2 {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: rotate(13deg);
}

.flex__block {
    display: flex;
    text-transform: uppercase;
}

.flex__block_right {
    margin: 5px 0 0 25px;
}

.text__block_flex {
    display: flex;
    align-items: center;
    margin: -17px 0 0 -11px;
}

.text__dark_p {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #261f0f;
    transform: scale(1.2,1);
}

.text_left_big {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #00adff;
    transform: scale(1.1,1);
}

.text__block_sm {
    font-size: 9px;
    line-height: 10px;
}

.text__block_flex-right {
    margin: 0 0 0 8px;
}